# Игнорируем конфиденциальные файлы
.env

# Игнорируем временные файлы и кеши
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем виртуальное окружение (если используете)
venv/
.venv/

# Игнорируем файлы OS и IDE
.DS_Store
.vscode/
.idea/
